# <font color="red"><u>Assignment 1 </u></font>

<font color="yellow">1. Create one variable containing following type of data:<br>
    i. String<br>
    ii. List<br>
    iii. Float <br>
    iv. Tuple <br></font>

<font color="red">1. i. solution :- </font>

In [1]:
s="Maurya Mayank"
s

'Maurya Mayank'

In [2]:
type(s)

str

<font color="red"> 1. ii. solution :- </font>

In [3]:
l=[1,22.43,"Maurya",4+6j]
l

[1, 22.43, 'Maurya', (4+6j)]

In [4]:
type(l)

list

<font color="red">1. iii. solution :- </font>

In [5]:
f=23.54
f

23.54

In [6]:
type(f)

float

<font color="red">1. iv. solution :- </font>

In [7]:
t=(12,35.65,"Mayank",45+9j)
t

(12, 35.65, 'Mayank', (45+9j))

In [8]:
type(t)

tuple

<font color="yellow"> 2. Given are some following variables containing data: <br>(i)	var1 = ‘ ‘ <br>(ii)	var2 = ‘[ DS , ML , Python]’ <br>(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ] <br>(iv)	var4 = 1. <br>
What will be the data type of the above given variable. </font>

<font color="red">2. i. solution:- </font>

In [9]:
var1=""
type(var1)

str

<font color="red">2. ii.solution:- </font>

In [10]:
var2='[DS,ML,Python]'
var2

'[DS,ML,Python]'

In [11]:
type(var2)

str

<font color="red">2. iii. solution:- </font>

In [12]:
var3=['DS','ML','Python']
var3

['DS', 'ML', 'Python']

In [13]:
type(var3)

list

<font color="red"> 2. iv. solution:- </font>

In [14]:
var4=1.
var4

1.0

In [15]:
type(var4)

float

<font color="yellow">
    Q3. Explain the use of the following operators using an example: <br>

(i)	/ <br>

(ii)	% <br>

(iii)	// <br>

(iv)	** <br>
    </font>

Let's create two variable a and b then we perform /,%,//,** operation on it.

In [16]:
a,b=17,8

<font color="red">3. i. solutions:-</font>

we perform Arithmetic operation ( division ) here.

In [17]:
a/b

2.125

Division operator gives float values (Quotient)

<font color="red">3. ii. solution :-</font>

Here we perform Arithmetic operation Module (%) which returns the remainder when the first operand a=17 is divided by the second b=8.

In [18]:
a//b

2

<font color="red">3. iii. solution:- </font>

Here we perform Arithmetic operation floor division (//) which returns the floor value means non decimal value.

In [19]:
a

17

In [20]:
b

8

In [21]:
a//b

2

<font color="red">3. iv. solution:- </font>

Here we perform Arithmetic operation Exponentiation (power) which Returns first raised to power second.

In [22]:
a

17

In [23]:
b

8

In [24]:
a**b

6975757441

<font color="yellow">Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
element and its data type. </font>

<font color="red">solution:-</font>

In [25]:
l1=[1,2,3,4,23.55,"Maurya",34-8j,"Mayank",99.5,10]
len(l1)

10

In [26]:
for i in l1:
    print(i,":",type(i))

1 : <class 'int'>
2 : <class 'int'>
3 : <class 'int'>
4 : <class 'int'>
23.55 : <class 'float'>
Maurya : <class 'str'>
(34-8j) : <class 'complex'>
Mayank : <class 'str'>
99.5 : <class 'float'>
10 : <class 'int'>

<font color="yellow">Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
times it can be divisible. </font>

<font color="red">solution:- </font>

Take two input from user a and b

In [32]:
a=int(input("Enter First number ="))
b=int(input("Enter seccond number ="))
d=a
c=0
while d%b==0:
    c+=1
    d=d/b
    if a==0 or b==1:
        print(a," is infinite times divisible by",b,"so we take it one time only")
        break

if c>0:
    print(a,"is purely divisible by",b)
    print(a,"is",c,"times divisible by",b)
else:
    print(a,"is not divisible by",b)

Enter First number =0
Enter seccond number =2
0  is infinite times divisible by 2 so we take it one time only
0 is purely divisible by 2
0 is 1 times divisible by 2

<font color="yellow">Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
divisible by 3 or not? </font>

<font color="red">solution:- </font>

In [43]:
l2=[12,3,4,65,77,865,43,67,10,98,32,45,78,65,43,22,33,67,98,100,23,65,61,78,93]

In [44]:
len(l2)

25

In [46]:
for i in l2:
    if i%3==0:
        print(i,"is divisible by 3")
    else:
        print(i,"is not divisible by 3")

12 is divisible by 3
3 is divisible by 3
4 is not divisible by 3
65 is not divisible by 3
77 is not divisible by 3
865 is not divisible by 3
43 is not divisible by 3
67 is not divisible by 3
10 is not divisible by 3
98 is not divisible by 3
32 is not divisible by 3
45 is divisible by 3
78 is divisible by 3
65 is not divisible by 3
43 is not divisible by 3
22 is not divisible by 3
33 is divisible by 3
67 is not divisible by 3
98 is not divisible by 3
100 is not divisible by 3
23 is not divisible by 3
65 is not divisible by 3
61 is not divisible by 3
78 is divisible by 3
93 is divisible by 3

<font color="yellow">Q7. What do you understand about mutable and immutable data types? Give examples for both showing 
this property. </font>

<font color="red">solution:- </font>

 we can change the contents of a mutable data type in Python, by assigning new values or by simply adding new values.<br>On otherhand we cannot change the contents of an immutable data type in Python.
 Example of mutable datatype:- 
 <br>i. List <br>
 ii. Set <br>
 iii. Dictionary <br>

<font color="blue">i. List :-</font> A list is a  ordered sequence of elements. we can change the value of a list in Python by assigning a new value to our already existing list thats the reason <br> we consider list as mutable datatype.

In [53]:
l3=[1,2,3,4,5,6]
# by using append operation we add element on list
l3.append(100)
l3

[1, 2, 3, 4, 5, 6, 100]

In [54]:
# by using extend operation when we need to append several items to a list as individual items.
l3.extend([4,25,34])
l3

[1, 2, 3, 4, 5, 6, 100, 4, 25, 34]

In [56]:
# we have modified the value of our list using the indexing operator
l3[3]=2901
l3

Hence these are the reason of saying list is mutable datatype.

<font color="blue">ii. Set :- </font> A set is an unordered collection of items. All the elements of the set are unique in nature. Elements of the set are immutable in nature, <br> that is, they cannot be changed but A set itself is mutable. That means, we can add or remove elements from a set in Python.

In [15]:
# creating a set
s={1,2,3,4,5}
print("set is ",s)

#  we perform adding operation on it. add() add only one element at a time.
s.add(12)
print("set after adding a value :",s)

# we perform update operation on it. update() add multiple element at a time.
s.update([6,7,8,9])
print("set after updating elements :",s)

# we perform remove operation on it. remove() delete a specific element.
s.remove(12)
print("set after remove a element :",s)

set is  {1, 2, 3, 4, 5}
set after adding a value : {1, 2, 3, 4, 5, 12}
set after updating elements : {1, 2, 3, 4, 5, 6, 7, 8, 9, 12}
set after remove a element : {1, 2, 3, 4, 5, 6, 7, 8, 9}

Hence these are the reason of saying set is mutable datatype.

<font color="blue">iii. Dictionary :- </font> A dictionary is an unordered collection of elements. Each element of dictionary has key/value pair using which we can acess particular<br> element from the dictionary. it is a mutable datatype. we can modify, remove and add values of existing element.

In [27]:
# creating a dictionary 
student={'Name':"Maurya Mayank","Father's Name":"Suresh kumar","Higher Degree":"BCA","Session":"2017-2020"}
print("Dictionary :",student)
print()

# Adding new key/value in dictionary
student["College"]="St.Xavier's college"
print("Dictionary after adding key/value :",student)
print()

# Updating values in dictionary
student["Higher Degree"]="MCA"
print("Dictionary after updating value :",student)
print()

# Removing key/value pairs from Dictionary
student.pop('Session')
print("Dictionary after removing key/value :",student)

Dictionary : {'Name': 'Maurya Mayank', "Father's Name": 'Suresh kumar', 'Higher Degree': 'BCA', 'Session': '2017-2020'}

Dictionary after adding key/value : {'Name': 'Maurya Mayank', "Father's Name": 'Suresh kumar', 'Higher Degree': 'BCA', 'Session': '2017-2020', 'College': "St.Xavier's college"}

Dictionary after updating value : {'Name': 'Maurya Mayank', "Father's Name": 'Suresh kumar', 'Higher Degree': 'MCA', 'Session': '2017-2020', 'College': "St.Xavier's college"}

Dictionary after removing key/value : {'Name': 'Maurya Mayank', "Father's Name": 'Suresh kumar', 'Higher Degree': 'MCA', 'College': "St.Xavier's college"}

Hence these are the reason of saying Dictionary is mutable datatype.

<font color="blue">Immutable datatype:-</font> Immutable datatypes are objects that cannot be modified or altered after they have been created (for example, by adding new elements, removing elements, or replacing elements).Some immutable datatypes are Int, Float, Tuple, Complex, String etc. So we only discuss about tuple here.

Example:- <font color="blue"><u> Tuple </u></font>

In [1]:
# Creating Tuple 
t=("Maurya","Mayank","MCA","St.xavier's college")
type(t)

tuple

In [2]:
t

('Maurya', 'Mayank', 'MCA', "St.xavier's college")

In [3]:
t[1]

'Mayank'

In [4]:
t[1]="abc"

TypeError: 'tuple' object does not support item assignment

In [5]:
# Here we see that tuple is not support item assignment so we say that tuple is immutable .